<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="Taskmaster.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Assignment</title>
</head>
<body>
    <br><br><br>
    <form>
        <input class="btn btn-primary logoutButton" type="submit" value="Log out">
    </form>
    <div class="detailsHeader centered">
        <h1>Edit Assignment</h1>
    </div>
    <div class="enterDetails centered">
        <form class="centered">
            <input type="text" class="textbox" value="Current Assignment Name">
            <br><br>
            <label>Due Date: </label>
            <input id="dueDate" type="date">
            <input id="dueTime" type="time">
            <br><br>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>

</body>
</html>